<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956742011535-ba8k385d6hkohs7gp5u9v0o4gthkksc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956742011535-ba8k385d6hkohs7gp5u9v0o4gthkksc2</string>
	<key>API_KEY</key>
	<string>AIzaSyDHbvF1icaDJWLGGe9i8dtI107xor4jjVM</string>
	<key>GCM_SENDER_ID</key>
	<string>956742011535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Farm-Finder</string>
	<key>PROJECT_ID</key>
	<string>farm-finder-90e55</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-finder-90e55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956742011535:ios:d6fc41b27ef606b2a53efa</string>
</dict>
</plist>